@model IEnumerable<LeHoangLong_2210900037.Models.Lhl_Sach>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Thêm Mới", "LHLCreate")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Lhl_MaSach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lhl_TenSach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lhl_SoTrang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lhl_NamXB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lhl_TrangThai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lhl_TacGia.Lhl_TenTG)
        </th>
        <th>Chức Năng</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Lhl_MaSach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lhl_TenSach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lhl_SoTrang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lhl_NamXB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lhl_TrangThai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lhl_TacGia.Lhl_TenTG)
        </td>
        <td>
            @Html.ActionLink("LHL:Edit", "LHLEdit", new { id = item.Lhl_MaSach },new {@class = "btn btn-success"}) |
            @Html.ActionLink("LHL:Details", "LHLDetails", new { id = item.Lhl_MaSach }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("LHL:Delete", "LHLDelete", new { id = item.Lhl_MaSach }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
