@model LHLK22CNT3Lesson11_2210900037.Models.LHLProduct

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/LHL2210900037_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LHLProduct</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LhlProName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LhlProName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LhlQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LhlQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LhlPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LhlPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LhlActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LhlActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LHLCategory.LhlCateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LHLCategory.LhlCateName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "LhlIndex")
        </div>
    }
</div>
